{% extends 'manager_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'fa/css/font-awesome.css' %}">

<div class="container">

    {% if messages  %}
          {% for message in messages  %}
            <h5 class="font-weight-bold text-center alert alert-{{message.tags}}"> {{message}} </h5>
          {% endfor %}
    {% endif %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="home" aria-selected="true">Pending
            <span class="badge badge-pill badge-success"><strong>{{ pending_bookings.count }}</strong></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="profile" aria-selected="false">Approved
            <span class="badge badge-pill badge-success"><strong>{{ approved_bookings.count }}</strong></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="contact" aria-selected="false">Rejected
            <span class="badge badge-pill badge-success"><strong>{{ rejected_bookings.count }}</strong></span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="home-tab">
            <div class="container mt-5">
                <div id="table">
                <table class="table table-stripped">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Room Number</th>
                              <th scope="col">Starting Date</th>
                              <th scope="col">Ending Date</th>
                              <th scope="col">Total Costs(BDT)</th>
                              <th scope="col">Paid(BDT)</th>
                              <th scope="col" class="text-center">Action</th>
                            </tr>
                      </thead>
                      <tbody>

                     {% for booking in pending_bookings %}

                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'services:room_details' booking.room.id %}">{{ booking.room.room_number }}</a></td>
                        <td>{{ booking.start_date| date:"b d, Y"}}</td>
                        <td>{{ booking.end_date | date:"b d, Y" }}</td>
                        <td>{{ booking.total_bills}}</td>
                        <td>{{ booking.paid_bills}}</td>
                        <td>
                        <button data-toggle="modal" data-target="#bookingDetails{{ booking.id }}" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                            {% include 'modals/view_booking_details.html' %}
                        <button data-toggle="modal" data-target="#paymentHistory{{ booking.id }}" class="btn btn-info"><i class="fa fa-history"></i></button>
                            {% include 'modals/payment_history.html' %}
                        <button data-toggle="modal" data-target="#approveBooking{{ booking.id }}" class="btn btn-success"><i class="fa fa-check"></i></button>
                        {% include 'modals/approve_booking.html' %}

                        <button data-toggle="modal" data-target="#rejectBooking{{ booking.id }}" class="btn btn-danger"><i class="fa fa-ban"></i></button>
                        {% include 'modals/reject_booking.html' %}

                        </td>
                      </tr>

                {% endfor %}

                      </tbody>
                  </table>
            </div>

            </div>
        </div>
        <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="profile-tab">
           <div class="container mt-5">
                <div id="table">
                <table class="table table-stripped">
                      <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Room Number</th>
                              <th scope="col">Starting Date</th>
                              <th scope="col">Ending Date</th>
                              <th scope="col">Total Costs(BDT)</th>
                              <th scope="col">Paid(BDT)</th>
                              <th scope="col" class="text-center">Action</th>
                            </tr>
                      </thead>
                      <tbody>

                     {% for booking in approved_bookings %}

                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'services:room_details' booking.room.id %}">{{ booking.room.room_number }}</a></td>
                        <td>{{ booking.start_date| date:"b d, Y"}}</td>
                        <td>{{ booking.end_date | date:"b d, Y" }}</td>
                        <td>{{ booking.total_bills}}</td>
                        <td>{{ booking.paid_bills}}</td>
                        <td>

                        <a href="{% url 'services:print_invoice_url' booking.id %}" class="btn btn-success"><i class="fa fa-print"></i></a>
                        <button data-toggle="modal" data-target="#bookingDetails{{ booking.id }}" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                            {% include 'modals/view_booking_details.html' %}
                        <button data-toggle="modal" data-target="#paymentHistory{{ booking.id }}" class="btn btn-info"><i class="fa fa-history"></i></button>
                            {% include 'modals/payment_history.html' %}
                        </td>
                      </tr>

                {% endfor %}

                  </tbody>
                  </table>
            </div>

            </div>
        </div>
        <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container mt-5">
                <div id="table">
                <table class="table table-stripped">
                      <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Room Number</th>
                              <th scope="col">Starting Date</th>
                              <th scope="col">Ending Date</th>
                              <th scope="col">Total Costs(BDT)</th>
                              <th scope="col">Paid(BDT)</th>
                              <th scope="col" class="text-center">Action</th>
                            </tr>
                      </thead>
                      <tbody>

                     {% for booking in rejected_bookings %}

                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'services:room_details' booking.room.id %}">{{ booking.room.room_number }}</a></td>
                        <td>{{ booking.start_date| date:"b d, Y"}}</td>
                        <td>{{ booking.end_date | date:"b d, Y" }}</td>
                        <td>{{ booking.total_bills}}</td>
                        <td>{{ booking.paid_bills}}</td>
                        <td>
                        <button data-toggle="modal" data-target="#bookingDetails{{ booking.id }}" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                            {% include 'modals/view_booking_details.html' %}
                        <button data-toggle="modal" data-target="#paymentHistory{{ booking.id }}" class="btn btn-info"><i class="fa fa-history"></i></button>
                            {% include 'modals/payment_history.html' %}

                        </td>
                      </tr>

                {% endfor %}

                  </tbody>
                  </table>
            </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block script %}
<script src="{% static 'fa/js/fontawesome.js' %}"></script>

    <script>
    $(document).ready(function(){
        $('a[data-toggle="tab"]').on('click.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });
    </script>

{% endblock %}