{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="bg-success">
		<h2 class="text-center">
			Search Nearest Hospitals
		</h2>
		<hr>
	</div>
	<div class="mt-5">
		<form method='get' action="">
				<div class="mt-1">
					Enter Location :  <input type="text" name="location" placeholder=""><br>
				</div>
				<div class="mt-2">
					Select District :
					<select id='district' name='district'>
						<option value='' selected>--Select--</option>
					</select>
				</div>

				<div class="mt-2">
					Enter ZIP Code : <input type="text" name="zipcode" placeholder="4 digit /(optional)">
				</div>

				<input type="submit" class="btn btn-outline-info">
			</form>

		</div>


		<section class="test jumbotron" id="services">
			<div class="row mt-5">
				<div class="col-lg-12">
					<h2 class="text-center bg-dark text-light">Available Hospitals</h2>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-header">
							<h5 class="text-center">TTT</h5>
							<h6 class="text-center">LOC</h6>
						</div>
						<div class="card-body">
							<img style="height: 220px; width: 830px" src="" alt="Image Not Available" class="img-fluid">
						</div>
						<div class="card-footer">
							<a href="" type="button" class="btn btn-primary btn-block">View Details</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock content %}