{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        {% if messages  %}
              {% for message in messages  %}
                <h5 class="font-weight-bold text-center alert alert-{{message.tags}}"> {{message}} </h5>
              {% endfor %}
        {% endif %}

        <div class="jumbotron">
            {% if appointments.count == 0 %}
                <h2 class="text-center">You haven't made any Appointment Request. Please, <a href="{% url 'services:hospital_list_url' %}">Request One</a></h2>
            {% else %}
                <h2 class="text-center">Your All Appointments. </h2>
            {% endif %}
        </div>
        
    {% if appointments.count != 0 %}
    
        <div id="table">
            <table class="table table-stripped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Dr. Name</th>
                      <th scope="col">Requested Date</th>
                      <th scope="col">Appointment Date</th>
                      <th scope="col">Current Status</th>
                      <th scope="col" class="text-center">Action</th>
                    </tr>

                  </thead>
                  <tbody>
            
                 {% for appointment in appointments %}
                 
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'services:doctor_details_url' appointment.doctor.id %}">{{ appointment.doctor.get_full_name }}</a></td>
                    <td>{{ appointment.requested_on | date:"b d, Y" }}</td>
                    <td>{{ appointment.date| date:"b d, Y"}}</td>
                    <td>{{ appointment.get_status_display }}</td>
                    <td>
                        {% if appointment.status == 5 %}
                            <a href="" class="btn btn-success"><i class="fa fa-print"></i></a>
                        {% endif %} 
                        <button data-toggle="modal" data-target="#appointmentDetails{{ appointment.id }}" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                        {% include 'modals/appointment_details.html' %}
                        {% if appointment.status == 1 %}
                            <button data-toggle="modal" data-target="#editAppointment{{ appointment.id }}" class="btn btn-info"><i class="fa fa-edit"></i></button>
                            {% include 'modals/edit_appointment.html' %}
                            <button data-toggle="modal" data-target="#delete_appointment{{ appointment.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            {% include 'modals/delete_appointment.html' %}
                        {% endif %}
                    </td>
                  </tr>
               {% endfor %}

              </tbody>
              </table>
        </div>
    {% endif %}
    </div>


{% endblock content %}

{% block script %}

    <script>
    $(document).ready(function (){

        $("#appointment_date").datepicker({
            onSelect:function (){
                let date = $("#appointment_date").datepicker('getDate')
                let today = new Date()
                today.setHours(0,0,0,0);
                if(date < today){
                  $("#error_msg").text('Appointment Date Can\'t be earlier than today. ')
                  $("#update_appointment_btn").hide()
                }
                else{
                  $("#error_msg").text('')
                  $("#update_appointment_btn").show()
                }
            },
            dateFormat: "M d, yy",
            changeMonth: true,
            changeYear: true,
        })
    })

    </script>

{% endblock script %}