{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_user %}
        {% include 'navbar.html' %}
    {% else %}
        <div class="row text-center font-weight-bold bg-dark">
                <div class="col-md-4">
                    {% if request.user.is_doctor %}
                         <a class="nav-link" href="{% url 'authenticate:doctor_dashboard_url' request.user.id %}">Dashboard</a>
                    {% endif %}
                    {% if request.user.is_manager %}
                        <a class="nav-link" href="{% url 'authenticate:manager_dashboard_url' request.user.id %}">Dashboard</a>
                    {% endif %}
                </div>
          </div>
    {% endif %}

    <div class="container-fluid">
        <div class="jumbotron">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-md-4">
                    <ul>
                        <li><h4 class="font-weight-bold">Room Number : {{ room.room_number }}</h4></li>
                        <li><h4 class="font-weight-bold">Cost Per Day : {{ room.cost_per_day }} BDT</h4></li>
                        <li><h4 class="font-weight-bold">Room Type : {{ room.room_type }}</h4></li>
                    </ul>
                </div>
                <div class="col-md-4">
                <ul>
                    <li>
                        <h4 class="font-weight-bold">Current Status : {% ifequal room.room_type 3 %} <span class="text-info">Booked</span> {% else %} <span class="text-success">Available</span> {% endifequal %}</h4>
                    </li>
                    <li><h4 class="font-weight-bold">Belongs to : <a class="font-weight-normal" href="{% url 'services:accommodation_detail_url' room.accommodation.id %}">{{ room.accommodation }}</a></h4></li>
                    {% if request.user.is_user %}
                        <button data-toggle="modal" data-target="#bookRoom{{ room.id }}" id="book_button" class="btn btn-success justify-content-center">Book</button>
                        {% include 'modals/book_room_modal.html' %}
                    {% endif %}
                </ul>

                </div>
            </div>
        </div>

         {% for date in room.book_room.all %}  <!-- Used In JS to disable previous & Next booked days.  -->
            {% if date.status == 2 %}
                <input class="start_date" type="hidden" readonly value="{{ date.start_date | date:"m/d/Y" }}">
                <input class="end_date" type="hidden" readonly value="{{ date.end_date | date:"m/d/Y" }}">
             {% endif %}
         {% endfor %}

        <div class="container">
            <div id="room_image">
                <img height="500" class="w-100" src="{{ room.image.url }}" alt="Image Not Available.">
            </div>

            <div id="room_description" class="my-5">
                {{ room.description | safe }}
            </div>
        </div>

        <input type="hidden" id="cost_per_day" value="{{ room.cost_per_day }}">

    </div>

{% endblock content %}

{% block script %}

    <script>
    function  calculate_days(){
        let start= $("#from_date").datepicker("getDate");
        let end= $("#to_date").datepicker("getDate");
        let days = (end- start) / (1000 * 60 * 60 * 24);
        if(days < 0){
            return "Invalid"
        }
        else{
            return days
        }
    }
    </script>

    <script>
        $(document).ready(function (){
            let booked_days = []
            // booked days contain all the previous booked days

            Date.prototype.addDays = function(days) {
                let date = new Date(this.valueOf());
                date.setDate(date.getDate() + days);
                return date;
            }

            function getDates(startDate, stopDate) {
                let currentDate = startDate;
                while (currentDate <= stopDate) {
                    let today = new Date (currentDate)
                    let date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                    booked_days.push(date);
                    currentDate = currentDate.addDays(1);
                }
            }


            let start_dates = $(".start_date")  // Array of start Dates
            let end_dates = $(".end_date")        // Array of end Dates
            for(let i=0; start_dates[i]; i++){
                let start_date =new Date($(start_dates[i]).val())
                let end_date =new Date($(end_dates[i]).val())
                getDates(start_date, end_date)
            }

            //console.log(booked_days)

            $("#from_date").datepicker({
                beforeShowDay: function(date){
                    let string = jQuery.datepicker.formatDate('yy-m-dd', date);
                    return [ booked_days.indexOf(string) == -1 ]
                },  // Disabling if date is in booked_days array

                onSelect:function (){

                    let date = $("#from_date").datepicker('getDate')
                    let today = new Date()
                    today.setHours(0,0,0,0);
                    if(date < today){
                      $("#error_msg").text('You can\'t book from earlier than today. ')
                      $("#to_date_div").hide()
                      $("#request_btn").hide()
                    }
                    else{
                      $("#to_date_div").show()
                      $("#error_msg").text('')
                      $("#request_btn").show()
                    }

                    let days = calculate_days()
                      if(days != 'Invalid'){
                          $("#error_msg2").text('')
                          $("#request_btn").show()
                          let cpd = $("#cost_per_day").val()
                          let total_bills = Number(cpd) * (days+1)
                          $("#total_bills").val(total_bills)
                      }
                      else{
                          $("#error_msg2").text('End Date Must be greater than Start Date')
                          $("#request_btn").hide()
                      }
                    },
                dateFormat: "M d, yy",
                changeMonth: true,
                changeYear: true,
            })


            $("#to_date").datepicker({
                beforeShowDay: function(date){
                    let string = jQuery.datepicker.formatDate('yy-m-dd', date);
                    return [ booked_days.indexOf(string) == -1 ]
                },
                dateFormat: "M d, yy",
                changeMonth: true,
                changeYear: true,
                onSelect: function () {
                  let days = calculate_days()
                  if(days != 'Invalid'){
                      $("#error_msg2").text('')
                      $("#request_btn").show()
                      let cpd = $("#cost_per_day").val()
                      let total_bills = Number(cpd) * (days+1)
                      $("#total_bills").val(total_bills)
                  }
                  else{
                      $("#error_msg2").text('End Date Must be greater than Start Date')
                      $("#request_btn").hide()
                  }
                }
            })

            $("#book_button").click(function (){
                $("form#bookRoom")[0].reset()
            })
        })
    </script>
{% endblock script %}